<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638113024234-5mqvndltbtkbe0orgabmln4q8ehnenn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638113024234-5mqvndltbtkbe0orgabmln4q8ehnenn9</string>
	<key>API_KEY</key>
	<string>AIzaSyBWuBWhCoJ-zJ0O988wXYuffVAWfx_BoHE</string>
	<key>GCM_SENDER_ID</key>
	<string>638113024234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naoki.detectingtouchpoints.WatchStream.WatchStream</string>
	<key>PROJECT_ID</key>
	<string>watchstream-cc32c</string>
	<key>STORAGE_BUCKET</key>
	<string>watchstream-cc32c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638113024234:ios:97fdfdcd0620b49c8cef93</string>
</dict>
</plist>